{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/estilo.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,100;1,500&display=swap"
    rel="stylesheet">
  <title>Meta Financeira</title>
</head>

<body>

  <div class="container">
    <section class="container-form">
      <div class="container-title-form">
        <div class="title-form-area">
          <h1>Calculadora Meta Financeira <span>Match!</span></h1>
        </div>
      </div>

      <div class="form-area">
        <form class="form" method="post" action="{% url 'calcular' %}">
          {% csrf_token %}
          <div>
            <label class="label-form" for="objetivo">Qual é o seu objetivo?</label>
            <input class="input-form" type="text" name="objetivo" id="objetivo" required>
          </div>
          <div>
            <label class="label-form" for="meta">Valor final?</label>
            <input class="input-form" type="text" name="meta" id="meta" required>
          </div>
          <div>
            <label class="label-form" for="valorMensal">Valor mensal?</label>
            <input class="input-form" type="text" name="valorMensal" id="valorMensal" required>
            <br /><br />
            <button class="calcular" type="submit">Calcular</button>
            <button class="limpar" type="button" onclick="limparForm()">Limpar</button>
          </div>
        </form>
      </div>
    </section>

    <section class="container-results">
      <div class="container-title-results">
        <div class="title-results-area">
          <h2>Resultado:</h2>
        </div>
      </div>
      <div class="form-area">
        <form class="form" method="post" action="{% url 'calcular' %}">
          {% csrf_token %}
          <div>
            <label class="label-form-results" for="objetivo">Valor Final:</label>
            <input class="input-form-results" value="{{meta}}" type="text" name="objetivo" disabled>
          </div>
          <div>
            <label class="label-form-results" for="meta">Valor mensal:</label>
            <input class="input-form-results" value="{{ valorMensal }}" type="text" name="meta" disabled>
          </div>
          <div>
            <label class="label-form-results" for="valorMensal">Tempo estimado:</label>
            <input class="input-form-results" value="{{ resultado }}" type="text" name="valorMensal" disabled>
            <br /><br />
            <a href="/" class="novo-calculo">Novo cálculo</a>
          </div>
        </form>
      </div>
    </section>
  </div>

  <script src="{% static 'js/formValidation.js' %}"></script>
  <script src="{% static 'js/limparCampos.js' %}"></script>
  <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.maskMoney.min.js' %}"></script>
  <script>
    $(function () {
      $("#meta").maskMoney({ prefix: 'R$ ', allowNegative: true, thousands: '.', decimal: ',', affixesStay: true });
      $("#valorMensal").maskMoney({ prefix: 'R$ ', allowNegative: true, thousands: '.', decimal: ',', affixesStay: true });
    })
  </script>
</body>

</html>